<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <title>doranwrite</title>
    <link rel="stylesheet" href="/css/dorandoran/doranwrite1.css">
    <link rel="stylesheet" href="/css/dorandoran/doranwrite2.css">
    <link rel="stylesheet" href="/css/dorandoran/doranwrite3.css">
    <link rel="stylesheet" href="/css/dorandoran/doranwrite4.css">
    <link rel="stylesheet" href="/css/dorandoran/doranwrite5.css">
    <link rel="stylesheet" href="../../static/css/dorandoran/doranwrite2.css">
    <link rel="stylesheet" href="../../static/css/dorandoran/doranwrite1.css">
    <link rel="stylesheet" href="../../static/css/dorandoran/doranwrite3.css">
    <link rel="stylesheet" href="../../static/css/dorandoran/doranwrite4.css">
    <link rel="stylesheet" href="../../static/css/dorandoran/doranwrite5.css">
    <!--   <link rel="stylesheet" href="/css/dorandoran/doranwrite.css">-->

</head>
<body>
<main role="main">

    <section class="breadcrumbs__block">
        <div class="container">
            <nav class="sub-nav">
                <ol class="breadcrumbs">

                    <li title="도움말 센터">
                        <a th:href="@{/doranboard/doranboard}">도란도란</a>
                    </li>
                    <li title="문의 등록">
                        글 수정하기
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <div class="container">
        <h1 class="new-request-title">수정하기<span class="follow-up-hint"></span></h1>
        <div id="main-content" class="form">
            <form th:action="@{/doranboard/doranmodify}" method="post" name="writeForm" th:object="${doranboard}">
                <input type="hidden" name="id" th:field="*{id}">
                <div class="form-field string required request_anonymous_requester_email">
                    <label>제목</label>
                    <textarea rows="1" maxlength="30" onkeypress="blockEnter()" onkeyup="checkLength(this, 30)"
                              type="text" name="title" th:field="*{title}"></textarea>
                </div>

                <div class="form-field text  required  request_description">
                    <label id="request_description_label">내용</label>
                    <textarea name="content" id="request_description_mimetype" aria-required="true" autocomplete="off"
                              aria-describedby="request_description_hint"
                              aria-labelledby="request_description_label" tyle="min-height: 120px;"
                              th:field="*{content}">내용</textarea>
                </div>
                <div class="form-field">
                    <label for="request-attachments" >
                        첨부 파일<span class="optional">(선택 사항)</span>
                        <span class="file-size"></span>
                    </label>
                    <div id="upload-dropzone" class="upload-dropzone attach">
                        <input type="file" multiple="true" id="request-attachments" class="upload">
                        <span>
                            <a>파일 추가</a> 또는 파일을 여기로 드래그
                        </span>
                    </div>
                    <div style="text-align: center;" class="attach">
                        <img id="tool" src="" class="thumbnail" width="300" height="300"
                             style="display: none; max-width:100%; height: auto; margin-top: 34px;">
                    </div>
                    <div class="x" style="margin-left: 46%; font-size: 15px; margin-top: 10px;">
                        <a>삭제하기</a>
                    </div>
                </div>
                <footer><input type="submit" name="commit writeForm" value="수정하기" class="sub"></footer>
            </form>
        </div>
    </div>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/modal/modal.js"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script th:inline="javascript">
    const $ul = $(".delete ul");
    let files = [[${doranboard.files}]]
    let fileId = files[0].id;
    let text = "";
    console.log(files[0].fileType);

    // text += `
    //         <li>
    //             <a onclick="location.href='/files/remove?id=${fileId}'" style= "margin-left: 46%; margin-top: 10px; cursor: pointer" >사진 삭제</a>
    //         </li>
    //     `;
    //
    // $ul.html(text);
</script>
<script src="/js/doranboard/modify.js"></script>
</html>